.filter-color {
	&__title {
		font-size: 14px;
		font-weight: 700;
		line-height: 16px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__items {
		margin-top: 5px;
		display: flex;
		column-gap: 10px;
	}
	&__item {
		width: 36px;
		height: 36px;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.7s;
	}
}
.item-active {
	box-shadow: 0px 0px 6px 2px rgb(0, 0, 0);
	border: 3px rgb(255, 255, 255) solid;
	width: 44px;
	height: 44px;
}
