.socials {
  display: flex;
  column-gap: 15px;
  align-items: center;

  svg {
    width: 34px;
    height: 34px;
  }
  svg path {
    fill: var(--grey);
    transition: 0.6s ease-in-out;
  }

  a:hover {
    svg path {
      fill: var(--white);
    }
  }
}
