:root {
  --main-color: #5b40b3;
  --main-color-hover: #7f308d;
  --white: #fff;
  --white-dark: #f6f6f6;
  --grey: #747474;
  --grey-light: #afaaaf;
  --green-light: #31b71b;
  --black: #000;
  --red: #df3616;
  --font-family: Raleway;
}
