.link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  color: var(--white);
  display: flex;
  column-gap: 4px;
  align-items: center;
}

.black {
  color: var(--black);
}

.opacity {
  transition: 0.4s ease;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

.outline {
  position: relative;
  overflow: hidden;
  transition: 0.6s;

  &::after {
    content: '';
    width: 200%;
    height: 1px;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey);
    position: absolute;
    transition: 0.6s;
  }

  &:hover {
    color: var(--black);

    &::after {
      width: 0;
    }
  }
}
.arrow {
  opacity: 1;
  font-size: 14px;
  font-weight: 700;
  transition: 0.6s ease-in;

  img {
    transition: 0.4s ease-in;
  }

  &:hover {
    color: var(--red);

    img {
      transform: translateX(5px);
    }
  }
}
