.basket {
	max-width: 1210px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: 35px;
		letter-spacing: 0em;
		text-align: left;
	}
}
.basket-bue {
	margin: 30px 0 70px auto;
	max-width: 500px;
	&__price-cashback {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__buttons {
		margin-top: 25px;
		display: flex;
		column-gap: 25px;
	}
	&__cashback-text {
		color: #989898;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: 0em;
		text-align: left;
	}
	&__cashback-num {
		font-size: 24px;
		font-weight: 700;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
	}
	&__cashback {
		display: flex;
		column-gap: 10px;
		align-items: center;
	}
	&__price {
		display: flex;
		align-items: center;
		column-gap: 25px;
		&-text {
			font-size: 30px;
			font-weight: 400;
			line-height: 1.4;
			letter-spacing: 0em;
			text-align: left;
		}
		&-num {
			font-size: 30px;
			font-weight: 700;
			line-height: 1.4;
			letter-spacing: 0em;
			text-align: left;
		}
	}
}
