.product-card {
	display: block;
	max-width: 255px;
	margin-bottom: 5px;
	z-index: 4;
	position: relative;
	margin: 0 15px;
	padding-top: 20px;
	margin-top: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	transition: 0.7s;

	&__img {
		display: flex;
		position: relative;
		overflow: hidden;
		max-width: 100%;
		margin: 0 auto;
		height: 233px;
		margin-bottom: 23px;

		img {
			width: 100%;
			//height: auto;
			object-fit: contain;
		}
	}

	&__title {
		color: #000;
		font-family: Raleway;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 130%;
		transition: 0.6s;
	}
	&__rating {
		margin-top: 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__reviews {
		color: #cbcbcb;
		font-family: Raleway;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		text-decoration-line: underline;
	}
	&__price-status {
		margin-top: 13px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__status {
		color: #31b71b;
		font-family: Raleway;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	&__num {
		color: #000;
		font-family: Raleway;
		font-size: 28px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__sale {
		color: #989898;
		font-family: Raleway;
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		position: relative;
		display: block;
		width: fit-content;
		&::before {
			content: '';
			position: absolute;
			border-bottom: 1px solid #989898;
			width: 100%;
			top: 50%;
			left: 0;
		}
	}
}
.product-card-bottom {
	opacity: 0;
	left: 20px;
	overflow-y: visible;
	bottom: 25px;
	width: 100%;
	max-width: 255px;
	z-index: 20;
	display: none;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	transition: 0.7s;
	&__icons {
		display: flex;
		align-items: center;
		background: none;
		column-gap: 11px;
	}
}
.active {
	opacity: 1;
}

.active-product-card {
	background-color: #fff;
	box-shadow: 0 0 10px 0 #000;
	z-index: 10;
	max-width: 300px;
	width: 100%;
	padding: 15px;
	padding-top: 20px;
	padding-bottom: 90px;
	.product-card-bottom {
		display: flex;
	}
	.product-card__title {
		color: #df3616;
	}
}
