.calculator-item {
	display: flex;
	column-gap: 10px;
	align-items: center;
	&__btn, &__input {
		width: 24px;
		height: 24px;
		font-size: 17px;
		background: none;
		line-height: 1.2;
		font-weight: 700;
		text-shadow: 0 1px 0 black;
		transition: 0.7s;
		border:2px solid black;
		border-radius: 50%;
	}
	&__input{
		border-radius: 0;
		border:1px solid #D8D8D8;
		width: 47px;
		height: 44px;
		text-align: center;
		cursor: default;
		padding: 9px 0;
	}
	&__btn{
		&:hover {
			color: #7f308d;
			border-color:#7f308d;
			box-shadow: 0 0 10px #7f308d;
		}
	}
}
