.header-btn {
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&__icon {
		border: 1px solid rgba(black, 0.4);
		border-radius: 50%;
		height: 38px;
		width: 38px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.6s;
	}
	&__desc {
		margin-top: 6px;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.1;
		letter-spacing: 0em;
		text-align: left;
		color: #989898;
		transition: 0.6s;
	}
	&__icon {
		position: relative;
	}
	&__sum {
		top: -7px;
		display: flex;
		align-items: center;
		justify-content: center;
		right: -7px;
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		border-radius: 50%;
		line-height: 1.4;
		letter-spacing: 0em;
		text-align: left;
		background-color: red;
		width: 20px;
		height: 20px;
		position: absolute;
	}
	img {
		transition: 0.6s;
	}
	&:hover {
		img {
			transform: rotateY(180deg);
		}
		.header-btn__icon {
			border-color: #df3616;
		}
		.header-btn__desc {
			color: #df3616;
		}
	}
}
.header-btn-active {
	.header-btn__icon {
		border-color: #df3616;
	}
	.header-btn__desc {
		color: #df3616;
	}
}
