.list-header {
	margin-bottom: 21px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__buttons {
		display: flex;
		column-gap: 10px;
	}
	&__btn {
		background: none;
		svg {
			path {
				transition: 0.7s;
			}
		}
		&:hover {
			svg {
				path {
					fill: red;
					stroke: red;
				}
			}
		}
	}
	&__options {
		display: flex;
		column-gap: 19px;
	}
	&__option{
		cursor:pointer;
		padding:5px;
		font-size: 16px;
		line-height: 1.3;
		font-weight: 500;
	}
}