.basket-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	border-bottom: 1px solid #cbcbcb;
	column-gap: 90px;

	&__images {
		max-width: 150px;
		height: 100%;
		cursor: pointer;

		img {
			transition: 0.6s;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		&:hover {
			img {
				transform: scale(1.2);
			}
		}
	}

	&__left {
		display: flex;
		column-gap: 20px;
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 320px;
	}

	&__name {
		font-size: 16px;
		font-weight: 600;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}

	&__desc {
		font-size: 14px;
		margin-top: 8px;
		line-height: 1.2;
		font-weight: 400;
		color: rgb(133, 133, 133);
	}

	&__price {
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__tags {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__status {
		background: #43db92;
		width: 15px;
		height: 15px;
		border-radius: 50px;
	}
	&__tag {
		padding: 5px 10px;
		border-radius: 5px;
		border: #cbcbcb 1px solid;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.1;
		letter-spacing: 0em;
		text-align: center;
	}
	&__btn {
		background: none;
		svg {
			path {
				transition: 0.7s;
			}
		}
		&:hover {
			svg {
				path {
					fill: rgb(0, 0, 0);
				}
			}
		}
	}
	.cashback {
		column-gap: 10px;
		padding: 10.5px 29px;
		border-radius: 5px;
	}
}
