.calculator {
	display: flex;
	column-gap: 10px;
	align-items: center;
	&__btn,
	&__input {
		font-size: 17px;
		background: none;
		font-weight: 700;
		text-shadow: 0 1px 0 black;
		transition: 0.6s;
		border: 2px solid black;
	}

	&__input {
		border-radius: 0;
		border: 1px solid #d8d8d8;
		width: 53px;
		height: 54px;
		border-radius: 5px;
		text-align: center;
		cursor: default;
		padding: 9px 0;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #000;
		text-align: center;
		font-family: Raleway;
		font-size: 21px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
	}
	&__btn {
		width: 24px;
		height: 24px;
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		&:hover {
			color: #df3616;
			border-color: #df3616;
		}
	}
}
