.reviews-button{
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: center;
	border: 1px solid #df3616;
	border-radius: 5px;
	padding: 10px 20px;
	background: none;
    transition: 0.7s;
    &:hover{
        background-color: #eeebef;
        color: #56315d;
        box-shadow: 0 0 5px 0 #c569d5;
        border-color:#7f308d;
    }
}