.checkout-form-input {
	border: 1px solid #dddddd;
	display: block;
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 0em;
	text-align: left;
	padding: 12px 8px;
	margin-bottom: 20px;
	&::placeholder {
		transition: 0.7s;
		color: #a0a0a0;
	}
	&:focus {
		&::placeholder {
			opacity: 0;
		}
	}
}
