.favorite-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 2px 2px 5px 0 black;
	padding: 7px;
	padding-left: 15px;
	padding-right: 15px;
	&__inner {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 10px;
	}
	&__content {
		display: flex;
		column-gap: 10px;
	}
	&__text {
		display: flex;
		flex-direction: column;
		row-gap: 6px;
	}
	&__icon {
		max-width: 150px;
		height: 100%;
	}
	&__img {
		width: 100%;
		object-fit: cover;
	}
	&__name {
		font-size: 21px;
		line-height: 1.3;
		font-weight: 600;
		color: #000;
		font-family: Raleway;
		font-size: 19px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		max-width: 310px;
	}
	&__price {
		color: #000;
		font-family: Raleway;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		&-sale {
			span {
				color: rgb(145, 145, 145);

				font-family: Raleway;
				font-size: 18px;
				font-style: normal;
				position: relative;
				line-height: 1;
				width: fit-content;
				font-weight: 500;
				line-height: normal;
				&::after {
					content: '';
					top: 50%;
					left: 0;
					position: absolute;
					width: 100%;
					background-color: rgb(145, 145, 145);
					height: 1px;
				}
			}
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		height: 100%;
		row-gap: 30px;
		align-items: flex-end;
	}
	&__btn {
		display: block;
		box-shadow: 0 0 5px 2px rgb(97, 5, 105);
		background: none;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		transition: 0.4s;
		&:hover {
			box-shadow: 0 0 7px 3px red;
		}
	}
	&__img-remove {
		width: 25px;
		height: 25px;
	}
}
