.not-found {
	background-image: url('../../../public/img/bg-404.jpg');
	padding-bottom: 160px;
	.breadcrumbs__item {
		color: #fff;
	}
	&__inner {
		max-width: 1170px;
		width: 100%;
		padding: 0 15px;
		margin: 0 auto;
	}
	&__title {
		color: #fff;
		text-align: center;
		font-family: Raleway;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
	&__img {
		text-align: center;
		font-family: Raleway;
		font-size: 250px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		color: #fff;
		margin-bottom: 25px;
	}
	a {
		display: block;
		width: fit-content;
		margin: 0 auto;
	}
}
