.news {
	max-width: 1110px;
	margin: 0px auto;
	padding: 70px 0;
	&__items {
		display: flex;
		column-gap: 30px;
	}
	&__title {
		font-size: 36px;
		font-weight: 700;
		line-height: 42px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 40px;
	}
}
