.basket-items {
	margin-top: 45px;
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 0;
		border-bottom: 1px solid #cbcbcb;
		column-gap: 90px;
	}
	&__left {
		display: flex;
		column-gap: 20px;
	}
	&__desc {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: 228px;
	}
	&__name {
		font-size: 14px;
		font-weight: 400;
		line-height: 1.2;
		letter-spacing: 0em;
		text-align: left;
	}
	&__price {
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;
	}
	&__tags {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__status{
		background: #43DB92;
		width: 15px;
		height: 15px;
		border-radius: 50px;
	}
	&__tag {
		padding: 5px 10px;
		border-radius: 5px;
		border: #cbcbcb 1px solid;
		font-size: 13px;
		font-weight: 400;
		line-height: 1.1;
		letter-spacing: 0em;
		text-align: center;
	}
	&__btn {
		background: none;
		svg {
			path {
				transition: 0.7s;
			}
		}
		&:hover {
			svg {
				path {
					fill: rgb(0, 0, 0);
				}
			}
		}
	}
}
